<html>
    <head>
        <title>Passphrase tool</title>
    </head>
    <body>
        <h1>Passphrase tool</h1>
        <div>
            <p>
            Tips:
            <ul>
                <li>Intentionally mis-spell words</li>
                <li>Turn letters around, i.e. deep-fried = freep-died</li>
                <li>More characters = more secure</li>
                <li>Make up your own words</li>
            </ul>
            Disclaimer:
            <ul>
                <li>Does not protect against acoustic snooping[https://people.eecs.berkeley.edu/~tygar/papers/Keyboard_Acoustic_Emanations_Revisited/preprint.pdf], Van Eck phreaking[https://en.wikipedia.org/wiki/Van_Eck_phreaking], keyloggers, hackers, spies, etc.</li>
                <li>I do not take responsibility for anything blah blah</ul>
            </p>
            <form action="" method="post">
                {{ options_form.hidden_tag() }}
                <p>
                    {{ options_form.min_length.label }}
                    {{ options_form.min_length(size=2) }}<br>
                    {{ options_form.max_length.label }}
                    {{ options_form.max_length(size=2) }}<br>
                    {{ options_form.allowed_chars.label }}
                    {{ options_form.allowed_chars(size=32) }}<br>
                    {{ options_form.double.label }}
                    {{ options_form.double() }}<br>
                    {{ options_form.adjecent.label }}
                    {{ options_form.adjecent() }}
                </p>
                <p>
                    {{ options_form.refresh() }}
                </p>
            </form>
        </div>
        <div>
        <p>{{ words.words }}</p>
        </div>
        <div>
            <p>
                Links:
                <ul>
                    <li>https://en.wikipedia.org/wiki/Password_strength</li>
                    <li>http://world.std.com/~reinhold/diceware.html</li>
                </ul>
            </p>
        </div>
    </body>
</html>
